<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section>
    <!-- Main Content -->
    <main class="flex-fill min-vh-100 text-center d-flex flex-column justify-content-center">
        <div class="container my-5">
            <h1 class="display-4">Welcome to our Travel Partner</h1>
            <p class="lead">Christian Tourist Places</p>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div id="touristCarousel" class="carousel slide pb-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Jerusalem Image Slide -->
                        <div class="carousel-item active">
                            <div class="position-relative overflow-hidden text-center">
                                <img src="https://wallpapercave.com/wp/wp2174324.jpg" 
                                     alt="Jerusalem" 
                                     class="img-fluid w-100" 
                                     style="height: 400px; object-fit: cover;">
                                <div class="position-absolute top-50 start-50 translate-middle text-white" 
                                     style="background: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
                                    <h1 class="display-5 font-weight-bold">Jerusalem</h1>
                                    <p class="lead">The Holy City, home to the Church of the Holy Sepulchre.</p>
                                </div>
                            </div>
                        </div>
                
                        <!-- Nazareth Image Slide -->
                        <div class="carousel-item">
                            <div class="position-relative overflow-hidden text-center">
                                <img src="https://wallpapercave.com/wp/wp4541420.jpg" 
                                     alt="Nazereth" 
                                     class="img-fluid w-100" 
                                     style="height: 400px; object-fit: cover;">
                                <div class="position-absolute top-50 start-50 translate-middle text-white" 
                                     style="background: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
                                    <h1 class="display-5 font-weight-bold">Nazareth</h1>
                                    <p class="lead">Known as Jesus's boyhood home, a spiritual city in Israel.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Bethlehem Image Slide -->
                        <div class="carousel-item">
                            <div class="position-relative overflow-hidden text-center">
                                <img src="https://plus.unsplash.com/premium_photo-1730132431631-354fb46249b2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YmV0aGxlaGVtfGVufDB8fDB8fHww" 
                                    alt="Bethlehem" 
                                    class="img-fluid w-100" 
                                    style="height: 400px; object-fit: cover;">
                                <div class="position-absolute top-50 start-50 translate-middle text-white" 
                                    style="background: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
                                    <h1 class="display-5 font-weight-bold">Bethlehem</h1>
                                    <p class="lead">TThe birthplace of Jesus Christ, a must-visit Christian site.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Sea of Galilee -->
                        <div class="carousel-item">
                            <div class="position-relative overflow-hidden text-center">
                                <img src="https://cdn.pixabay.com/photo/2019/02/28/18/52/sea-4026566_640.jpg" 
                                    alt="Sea of Galilee" 
                                    class="img-fluid w-100" 
                                    style="height: 400px; object-fit: cover;">
                                <div class="position-absolute top-50 start-50 translate-middle text-white" 
                                    style="background: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
                                    <h1 class="display-5 font-weight-bold">Sea of Galilee</h1>
                                    <p class="lead">A serene lake associated with Jesus's miracles.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Mount Sinai  -->
                        <div class="carousel-item">
                            <div class="position-relative overflow-hidden text-center">
                                <img src="https://cdn.pixabay.com/photo/2013/08/21/13/00/st-catherines-monastery-174446_640.jpg" 
                                    alt="Mount Sinai " 
                                    class="img-fluid w-100" 
                                    style="height: 400px; object-fit: cover;">
                                <div class="position-absolute top-50 start-50 translate-middle text-white" 
                                    style="background: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
                                    <h1 class="display-5 font-weight-bold">Mount Sinai</h1>
                                    <p class="lead">The sacred mountain where Moses received the Ten Commandments.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Vatican City -->
                        <div class="carousel-item">
                            <div class="position-relative overflow-hidden text-center">
                                <img src="https://cdn.pixabay.com/photo/2018/02/06/02/14/architecture-3133764_640.jpg" 
                                    alt="Vatican City" 
                                    class="img-fluid w-100" 
                                    style="height: 400px; object-fit: cover;">
                                <div class="position-absolute top-50 start-50 translate-middle text-white" 
                                    style="background: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
                                    <h1 class="display-5 font-weight-bold">Vatican City</h1>
                                    <p class="lead">The spiritual center of the Catholic Church, home to the Pope.</p>
                                </div>
                            </div>
                        </div>
                
                        <!-- Carousel Controls (optional) -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#touristCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#touristCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                
                
                <div class="col-md-4" th:each="product : ${products}">
                    <div class="card mb-4 shadow-sm">
                        <img th:if="${product.base64Image}" 
                             th:src="'data:image/jpeg;base64,' + ${product.base64Image}" 
                             class="card-img-top" 
                             alt="Product Image" 
                             style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.productName}">Product Name</h5>
                            <p class="card-text" th:text="${product.productDescription}">Product Description</p>
                            <p class="card-text">
                                <strong th:text="${product.price}">Product Price</strong>
                            </p>
                            <!-- <div class="form-group">
                                <label for="quantity">Select Quantity:</label>
                                <input class="form-control" type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                            </div>
                            <button class="btn btn-primary mt-2" type="button">Add to Cart</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>    
    <!-- Main Content -->
</section>
</body>
</html>
